<h4 class="leftmenu-hl">{{ 'ngrm.cloudinary.dashboard.aside'|trans }}</h4>
<div class="dashboard-sidebar">
    <div class="sidebar-nav">
        <ul class="leftmenu-items-list">
            <li><a href="{{ path('ngrm.ngadmin.cloudinary.index') }}">{{ "ngrm.cloudinary.dashboard.title"|trans }}</a></li>
            <li><a href="{{ path('ngrm.ngadmin.cloudinary.library') }}">{{ "ngrm.cloudinary.library.title"|trans }}</a></li>
            <li><a href="{{ path('ngrm.ngadmin.cloudinary.library') }}">{{ "ngrm.cloudinary.library.upload"|trans }}</a></li>
        </ul>
    </div>
</div>
